<div class="dashbox">
    <h3>
        <span title="<%= metric('score').description -%>">
          <%= metric('score').description -%>
        </span>
    </h3>

    <p>
    <span class="big">
        <% score=measure('score') %>
        <%= format_measure(score) -%>
    </span>
        / 100
        <%= trend_icon(score) %>
    </p>

    <p>
    <span class="big">
        <% htmlSize=measure('html-size') %>
        <%= format_measure(htmlSize) -%>
    </span>
        kB
        <%= trend_icon(htmlSize) %>
    </p>
</div>
