<% score=measure('score') %>
<% htmlResponse=measure('html-response') %>
<% cssResponse=measure('css-response') %>
<% javascriptResponse=measure('javascript-response') %>

<div class="dashbox">
    <style>
      .dashbox-label {
        width: 120px;
        display: inline-block;
      }

      .dashbox-value {
        display: inline-block;
      }
    </style>
    <h3>
        PageSpeed Insights (PSI)
    </h3>

    <div>
        <div class="dashbox-label">Score:</div>
        <div class="dashbox-value">
            <span class="big"><%= format_measure(score) -%></span> / 100 <%= trend_icon(score) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">HTML Response:</div>
        <div class="dashbox-value">
            <span class="big"><%= format_measure(htmlResponse) -%></span> kB <%= trend_icon(htmlResponse) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">CSS Response:</div>
        <div class="dashbox-value">
            <span class="big"><%= format_measure(cssResponse) -%></span> kB <%= trend_icon(cssResponse) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">Javascript Response:</div>
        <div class="dashbox-value">
            <span class="big"><%= format_measure(javascriptResponse) -%></span> kB <%= trend_icon(javascriptResponse) %>
        </div>
    </div>
</div>
