<% score=measure('score') %>
<% htmlResponse=measure('html-response') %>
<% cssResponse=measure('css-response') %>
<% javascriptResponse=measure('javascript-response') %>
<% numberResources=measure('number-resources') %>
<% numberHosts=measure('number-hosts') %>
<% numberStaticResources=measure('number-static-resources') %>
<% imageResponseBytes=measure('image-response-bytes') %>
<% otherResponseBytes=measure('other-response-bytes') %>

<div class="dashbox">
    <style>
      .dashbox-label {
        width: 140px;
        display: inline-block;
      }

      .dashbox-value {
        display: inline-block;
      }
    </style>
    <h3>
        PageSpeed Insights (PSI)
    </h3>

    <div>
        <div class="dashbox-label">Score:</div>
        <div class="dashbox-value">
            <span class="big"><%= format_measure(score) -%></span> / 100 <%= trend_icon(score) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">HTML Response:</div>
        <div class="dashbox-value">
            <span><%= format_measure(htmlResponse) -%></span> bytes <%= trend_icon(htmlResponse) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">CSS Response:</div>
        <div class="dashbox-value">
            <span><%= format_measure(cssResponse) -%></span> bytes <%= trend_icon(cssResponse) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">Javascript Response:</div>
        <div class="dashbox-value">
            <span><%= format_measure(javascriptResponse) -%></span> bytes <%= trend_icon(javascriptResponse) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">Resources:</div>
        <div class="dashbox-value">
            <span><%= format_measure(numberResources) -%></span> <%= trend_icon(numberResources) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">Hosts:</div>
        <div class="dashbox-value">
            <span><%= format_measure(numberHosts) -%></span> <%= trend_icon(numberHosts) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">Static Resources:</div>
        <div class="dashbox-value">
            <span><%= format_measure(numberStaticResources) -%></span> <%= trend_icon(numberStaticResources) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">Image Response:</div>
        <div class="dashbox-value">
            <span><%= format_measure(imageResponseBytes) -%></span> bytes <%= trend_icon(imageResponseBytes) %>
        </div>
    </div>

    <div>
        <div class="dashbox-label">Other Response:</div>
        <div class="dashbox-value">
            <span><%= format_measure(otherResponseBytes) -%></span> bytes <%= trend_icon(otherResponseBytes) %>
        </div>
    </div>
</div>
